<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/base.css">
  <link rel="stylesheet" href="../../styles/layout.css">
  <link rel="stylesheet" href="../../styles/modules.css">
</head>

<body>
  <main>
    <% searchResults.forEach( book => { %>
    <div class="wrapper">
      <img class="img" src="<%= book.imageULR %>" />
      <div class="info">
        <h2><%= book.title %></h3>
          <h3><%= book.author %></h3>
          <p><%= book.description %></p>
      </div>
    </div>
    <% }) %>
  </main>
</body>

</html>